.custom-file-picker > label {
  width: 100%;
  background-color: #ffffff;
}

.drag-drop-component {
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #ccc;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.added-file-list {
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 4px;
}
